.select {
  width: 280px;
  position: relative;
  border: 1px solid #dcdfe6;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
  color: #55588b;
  transition: all 0.15s ease-in-out;
}

.select.open {
  border: 1px solid #0984e3;
}

.select .select-control {
  margin-right: 25px;
  padding: 10px 3px;
}
.select .select-control input {
  width: 100%;
  height: 100%;
  border: none;
  font-family: Open Sans, sans-serif;
  font-size: 1rem;
  padding-left: 15px;
}

.select .select-control input:focus {
  outline: none;
}

.select-options {
  display: none;
  width: 100%;
  position: absolute;
  z-index: 1000;
  top: 100%;
  overflow: hidden;
  /* overflow-y: auto; */
  max-height: 200px;
  box-sizing: border-box;
  -webkit-box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
  -webkit-box-sizing: border-box;
  margin-top: 5px;
  text-transform: capitalize;
}

.select-options.open {
  display: block;
}

.select-options .options-list {
  margin: 0;
  padding: 0;
  width: 100%;
  border-bottom: 1px solid #dcdfe6;
}
.select-options .option {
  display: block;
  box-sizing: border-box;
  padding: 7px 15px;
  text-align: left;
  cursor: pointer;
}

.select-options .option.selected {
  background-color: #0984e3;
  color: #fff;
}

.select-options .option:hover {
  background-color: #f5f7fa;
}
